.login-form {
  text-align: center;
}

.login-form h3 {
  font-family: 'Bree serif', serif;
}

.login-form label, .login-form button, .login-form .form-error {
  font-family: 'Bree serif', serif;
  font-size: 12pt;
}

.login-form input#username, .login-form input#password {
  margin-top: 5px;
  margin-bottom: 20px;
  height: 30px;
  width: 80%;
  font-family: 'Bree serif', serif;
  font-size: 10pt;
}

.login-form .login-button {
  border-color: transparent;
  padding: 10px;
  font-style: bold;
  font-size: 12pt;
  width: 80%;
  color: white;
  background-color: rgb(10, 115, 141);
  margin-bottom: 20px;
}

.login-form .login-button:hover {
  cursor: pointer;
}

.login-form .demo-link {
  display: block;
  margin-bottom: 15px;
  font-family: 'Bree serif', serif;
  font-size: 11pt;
  text-decoration: underline;
}

.login-form .demo-link:hover {
  cursor: pointer;
}