* {
  box-sizing: border-box;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-1, .col-3, .col-4, .col-6, .col-8, .col-9, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-1, .col-3, .col-4, .col-6, .col-8, .col-9, .col-12 {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  .col-1 {
    width: 8.3333333%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-8 {
    width: 66.666666%;
  }
  .col-9 {
    width: 75%;
  }
  .col-12 {
    width: 100%;
  }
}

#landing-page-main .title-area {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.20),
      rgba(0, 0, 0, 0.20)
    ), 
    url('https://images.unsplash.com/photo-1512144447775-c333a240d521?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f3d1212cd6e9e6c9517e3932bd34340d&auto=format&fit=crop&w=1489&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  padding-top: 57px;
}

#landing-page-main .title-section {
  text-align: center;
  color: white;
  font-family: 'Bree serif', serif;
}

#landing-page-main .title-section h1 {
  font-size: 70pt;
  position: relative;
  top: 40px;
}

#landing-page-main .title-section h2 {
  font-size: 40pt;
}

#landing-page-main .rules-section {
  background-color: lightgray;
  text-align: center;
  padding-bottom: 150px;
}

#landing-page-main .rules-section h1 {
  font-family: 'Bree serif', serif;
  margin-top: 50px;
  font-size: 40pt;
}

#landing-page-main h3 {
  font-family: 'Bree serif', serif;
  font-size: 18pt;
  margin-bottom: 40px;
}

#landing-page-main p {
  font-family: 'Noto Serif', serif;
  font-size: 13pt;
}

#landing-page-main .picks-form-screenshot {
  width: 95%;
  height: 214px;
  margin-top: 30px;
}

#landing-page-main .leaderboard-screenshot {
  width: 95%;
  height: 214px;
  margin-top: 30px;
}