.leaderboard-background {
  background-image: url('https://images.unsplash.com/photo-1431324003833-a7d76ef5770b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2bf164853bd15799731c8a1b5cafe931&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#leaderboard-main .leaderboard-area {
  margin-top: 120px;
  background-color: rgb(247, 247, 247);
  padding-bottom: 40px;
  border-radius: 2px;
  margin-bottom: 50px;
}

#leaderboard-main .leaderboard-area h1 {
  font-family: 'Bree serif', serif;
  font-size: 32pt;
  text-align: center;
}

#leaderboard-main .titles {
  text-align: center;
  font-family: 'Bree serif', serif;
  color: rgb(111, 182, 206);
}

#leaderboard-main .rankings {
  text-align: center;
  font-family: 'Bree serif', serif;
  color: rgb(10, 37, 87);
}

@media only screen and (max-width: 675px) {
  #leaderboard-main .entry-name h2 {
    margin-left: 40px;
  }
  #leaderboard-main .entry h3 {
    margin-left: 30px;
  }
  #leaderboard-main .rank h3 {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 640px) {
  #leaderboard-main .col-1 {
    width: 8.3333333%;
  }
  #leaderboard-main .col-3 {
    width: 25%;
  }
  #leaderboard-main .col-4 {
    width: 33.333333%;
  }
  #leaderboard-main .username h2 {
    margin-left: 40px;
  }
  #leaderboard-main .user h3 {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 590px) {
  #leaderboard-main .entry-name h2 {
    margin-left: 30px;
  }
  #leaderboard-main .entry h3 {
    margin-left: 20px;
  }
  #leaderboard-main .rank h3 {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 560px) {
  #leaderboard-main .entry-name h2 {
    margin-left: 20px;
  }
  #leaderboard-main .entry h3 {
    margin-left: 15px;
  }
  #leaderboard-main .rank h3 {
    margin-left: 5px;
  }
  #leaderboard-main .username h2 {
    margin-left: 0px;
  }
  #leaderboard-main .user h3 {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 530px) {
  #leaderboard-main .titles {
    font-size: 10pt;
  }
  #leaderboard-main .rankings {
    font-size: 9pt;
  }
  #leaderboard-main .entry-name h2 {
    margin-left: 15px;
  }
  #leaderboard-main .entry h3 {
    margin-left: 15px;
  }
  #leaderboard-main .rank h3 {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 500px) {
  #leaderboard-main .entry-name h2 {
    margin-left: 27px;
  }
  #leaderboard-main .entry h3 {
    margin-left: 25px;
  }
  #leaderboard-main .username h2 {
    margin-left: 20px;
  }
  #leaderboard-main .user h3 {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 480px) {
  #leaderboard-main .titles {
    font-size: 9pt;
  }
  #leaderboard-main .rankings {
    font-size: 8pt;
  }
}

@media only screen and (max-width: 450px) {
  #leaderboard-main .leaderboard-area h1 {
    font-size: 24pt;
  }
  #leaderboard-main .titles {
    font-size: 8pt;
  }
  #leaderboard-main .rankings {
    font-size: 8pt;
  }
  #leaderboard-main .entry-name h2 {
    margin-left: 16px;
  }
  #leaderboard-main .entry h3 {
    margin-left: 16px;
  }
  #leaderboard-main .username h2 {
    margin-left: 0px;
  }
  #leaderboard-main .user h3 {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 420px) {
  #leaderboard-main .rankings .user {
    display: none;
  }
  #leaderboard-main .titles .username {
    display: none;
  }
  #leaderboard-main .col-1 {
    width: 20%;
  }
  #leaderboard-main .col-4 {
    width: 46.666666%;
  }
  #leaderboard-main .col-3 {
    width: 33.333333%;
  }
  #leaderboard-main .entry-name h2 {
    margin-left: 0px;
  }
  #leaderboard-main .entry h3 {
    margin-left: 0px;
  }
  #leaderboard-main .rank h3 {
    margin-left: 0px;
  }
}