.login-form {
  text-align: center;
}

.login-form h3 {
  font-family: 'Bree serif', serif;
}

.login-form label, .login-form button {
  font-family: 'Bree serif', serif;
  font-size: 12pt;
}

.login-form input#username, .login-form input#password {
  margin-top: 5px;
  margin-bottom: 20px;
  height: 30px;
  width: 80%;
}

.login-form .login-button {
  border-color: transparent;
  padding: 10px;
  font-style: bold;
  font-size: 12pt;
  width: 80%;
  color: white;
  background-color: rgb(10, 115, 141);
  margin-bottom: 25px;
}