.my-picks-background {
  background-image: url('https://images.unsplash.com/photo-1431324003833-a7d76ef5770b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2bf164853bd15799731c8a1b5cafe931&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#my-picks-main .form-area {
  margin-top: 120px;
  background-color: rgb(247, 247, 247);
  padding-bottom: 40px;
  border-radius: 2px;
  margin-bottom: 50px;
}

#my-picks-main .form-area h1 {
  font-family: 'Bree serif', serif;
  font-size: 32pt;
  text-align: center;
}

#my-picks-main .matchups {
  text-align: center;
}

#my-picks-main .matchup {
  font-family: 'Anton', sans-serif;
  font-size: 18pt;
}

#my-picks-main .matchup-sentence {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
}

#my-picks-main .matchup img {
  width: 60px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 11px;
}

#my-picks-main .button-div {
  text-align: center;
}

#my-picks-main .button-div button {
  width: 140px;
  padding: 8px;
  border-radius: 2px;
  background-color: rgb(10, 37, 87);
  color: white;
  border-color: transparent;
  font-family: 'Bree serif', serif;
  font-size: 12pt;
  margin-top: 25px;
}

#my-picks-main .stop-editing-button {
  margin-top: 15px !important;
}

#my-picks-main .button-div button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 870px) {
  #my-picks-main .matchup img {
    margin-left: 0px;
    margin-right: 0px;
    width: 50px;
  }
  #my-picks-main .col-3 {
    width: 30%;
  }
  #my-picks-main .col-9 {
    width: 70%;
  }
}

@media only screen and (max-width: 830px) {
  #my-picks-main .matchup {
    font-size: 16pt;
    margin-bottom: 1px;
  }
  #my-picks-main .matchup img {
    top: 12px;
  }
}

@media only screen and (max-width: 760px) {
  #my-picks-main .matchup {
    font-size: 15pt;
  }
  #my-picks-main .matchup img {
    top: 13px;
  }
}

@media only screen and (max-width: 730px) {
  #my-picks-main .matchup {
    font-size: 14pt;
    margin-bottom: 2px;
  }
  #my-picks-main .matchup img {
    top: 14px;
  }
}

@media only screen and (max-width: 690px) {
  #my-picks-main .matchup {
    font-size: 13pt;
  }
}

@media only screen and (max-width: 650px) {
  #my-picks-main .col-3 {
    width: 35%;
  }
  #my-picks-main .col-9 {
    width: 65%;
  }
  #my-picks-main .matchup {
    margin-top: 17px;
  }
  #my-picks-main .matchup img {
    display: none;
  }
  #my-picks-main .matchup-sentence {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 590px) {
  #my-picks-main .matchup-sentence {
    margin-left: 0px;
    margin-right: 0px;
  }
  #my-picks-main .versus {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 560px) {
  #my-picks-main .matchup {
    font-size: 12pt;
  }
  #my-picks-main .matchup-sentence {
    margin-bottom: 11px;
  }
}

@media only screen and (max-width: 520px) {
  #my-picks-main .matchup img {
    display: unset;
    height: 46px;
    margin-top: 0px;
    margin-bottom: 2px;
    top: 0px;
  }
  #my-picks-main .team {
    display: none;
  }
  #my-picks-main .matchups {
    padding-top: 12px;
  }
  #my-picks-main .matchup {
    margin-top: 0px;
    margin-bottom: 4px;
  }
  #my-picks-main .versus {
    margin-bottom: 0px;
    position: relative;
    bottom: 15px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
  }
  #my-picks-main .col-3 {
    width: 50%;
  }
  #my-picks-main .col-9 {
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
  #my-picks-main .form-area h1 {
    font-size: 24pt;
  }
  #my-picks-main .matchups {
    padding-top: 3px;
  }
}

@media only screen and (max-width: 380px) {
  #my-picks-main .versus {
    margin-right: 2px;
    margin-left: 2px;
  }
}